@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
}

body{
    background: url('../img/background-com3.png') no-repeat center center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}


strong{
    color: yellow;
}

main{
    position: absolute;
    bottom: 30%;
}

section{
    text-align: justify;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.589);
}

button{
    position: absolute;
    height: 55px;
    width: 300px;
    margin-top: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.719);
    background-color: aqua;
    font-weight: bold;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

form:hover{
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.719);
    transition: transform .5s, border 1s ;
}

